/* HEADER  */
.Header {
  background-color: blue;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

.box-for-logo {
  display: flex;
}
.logoMarvel {
  height: 45px;
  border-radius: 4px;
}
.navbar {
  background-color: aquamarine;
  display: flex;
  /* align-items: flex-end; */
  flex-wrap: wrap;
  gap: 200px;
}  


/* HOME PAGE - CHARACTERS */
.characters {
  display: flex;
}  
.container-characters {
  background-color: rgb(243, 255, 196);
  align-items: center;
  

}



/* COMICS */
.container-comics {
  background-color: bisque;
}



/* FAVORITES */



